<nav class="blue">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Document</a>
        <a href="" data-target="side-nav" class="sidenav-trigger show-on-large right"><i class="fas fa-bars"></i></a>
        <ul id="side-nav" class="sidenav right">
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/login">Log In</a></li>
        </ul>
    </div>
</nav>