<h2>Log In</h2>
<div class="row">
    <form action="/auth/login" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                {{#if username}}
                <input type="text" id="username" name="username" required="true" class="validate" value={{username}}>
                {{else}}
                <input type="text" id="username" name="username" required="true" class="validate">
                {{/if}}
                <label for="username">Username</label>
                {{#if isUserNotFound}}
                <span class="helper-text" style="color:red">User not found</span>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                {{#if password}}
                <input type="password" id="password" name="password" required="true" class="validate"
                    value={{password}}>
                {{else}}
                <input type="password" id="password" name="password" required="true" class="validate">
                {{/if}}
                <label for="password">Password</label>
                {{#if isPasswordIncorrect}}
                <span class="helper-text" style="color:red">Incorrect password</span>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="submit" value="Log In" class="btn blue">
            </div>
        </div>
    </form>
</div>