<h2>Sign Up</h2>
<div class="row">
    <form action="/auth/signup" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="username" name="username" required="true">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="password" id="password" name="password" required="true" minlength="8">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="submit" value="Sign Up" class="btn blue">
            </div>
        </div>
    </form>
</div>